# Node
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build / Cache
dist/
build/
.cache/
.tmp/
.out/

# Mongo dump / backups
*.bson
dump/
*.lock

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Debug
*.tgz
*.tar.gz

# Postman collections/environment exports
*.postman_collection.json
*.postman_environment.json

# Moduels
node_modules

# Notes
notes.txt

# Archives
generate-hash.js